<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lumina.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Lumina.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Lumina.Settings>
            <setting name="ison" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrivateServer" serializeAs="String">
                <value>Enter your private server address...</value>
            </setting>
            <setting name="WebhookAddress" serializeAs="String">
                <value>Enter your webhook...</value>
            </setting>
            <setting name="FishingStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SleepTime" serializeAs="String">
                <value>1000</value>
            </setting>
        </Lumina.Settings>
        <Lumina.Settings1>
            <setting name="ison" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrivateServer" serializeAs="String">
                <value>Enter your private server address...</value>
            </setting>
            <setting name="WebhookAddress" serializeAs="String">
                <value>Enter your webhook...</value>
            </setting>
            <setting name="Status1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Status2" serializeAs="String">
                <value>False</value>
            </setting>
        </Lumina.Settings1>
    </userSettings>
</configuration>